@require 'base/*'

@require '../../src/js/components/pages/landing/Landing/Landing'
@require '../../src/js/components/pages/landing/LandingHeader/LandingHeader'
@require '../../src/js/components/pages/landing/SubscriptionForm/SubscriptionForm'
@require '../../src/js/components/pages/landing/Advantages/Advantages'
@require '../../src/js/components/pages/landing/People/People'
@require '../../src/js/components/pages/landing/examination/Examination/Examination'
@require '../../src/js/components/pages/landing/examination/ExaminationButton/ExaminationButton'
@require '../../src/js/components/pages/landing/examination/ExaminationScreenTitle/ExaminationScreenTitle'
@require '../../src/js/components/pages/landing/examination/ExaminationStartScreen/ExaminationStartScreen'
@require '../../src/js/components/pages/landing/examination/ExaminationReadingScreen/ExaminationReadingScreen'
@require '../../src/js/components/pages/landing/examination/ExaminationTestScreen/ExaminationTestScreen'
@require '../../src/js/components/pages/landing/examination/ExaminationResultsScreen/ExaminationResultsScreen'
@require '../../src/js/components/pages/landing/LandingFooter/LandingFooter'

@require '../js/components/pages/Thanks/Thanks'
@require '../js/components/pages/change-password/ChangePassword/ChangePassword'
@require '../js/components/pages/TermsAndPolicy/TermsAndPolicy'

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

html
  font-size: 10px
  body
    overflow-x: hidden
    width: 100%
    &.prevent-scroll
      overflow: hidden
    &.prevent-scroll-and-touch
      overflow: hidden
      pointer-events: none
    &.full-height
      height: 100vh

*::selection
  color: #fff;
  background: $color-granate;

input::-webkit-input-placeholder { color: currentColor }
input::-moz-placeholder          { color: currentColor } /* Firefox 19+ */
input:-moz-placeholder           { color: currentColor } /* Firefox 18- */
input:-ms-input-placeholder      { color: currentColor }

main
  width: 100vw
  background: #fff
