@require 'base/*'

@require '../../src/js/components/pages/landing/Landing/Landing'
@require '../../src/js/components/pages/landing/LandingHeader/LandingHeader'
@require '../../src/js/components/pages/landing/SubscriptionForm/SubscriptionForm'
@require '../../src/js/components/pages/landing/Advantages/Advantages'
@require '../../src/js/components/pages/landing/People/People'
@require '../../src/js/components/pages/landing/Examination/Examination'
@require '../../src/js/components/pages/landing/LandingFooter/LandingFooter'

@require '../../src/js/components/TodoApp/TodoApp'
@require '../../src/js/components/HelloWorld/HelloWorld'
@require '../../src/js/components/Footer/Footer'

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

html
  font-size: 10px
  height: 100%
  body
    overflow-x: hidden
    height: 100%
    &.prevent-scroll
      overflow: hidden
      pointer-events: none

*::selection
  color: #fff;
  background: $color-granate;

input::-webkit-input-placeholder { color: $color-peach }
input::-moz-placeholder          { color:$color-peach } /* Firefox 19+ */
input:-moz-placeholder           { color: $color-peach } /* Firefox 18- */
input:-ms-input-placeholder      { color: $color-peach }

main
  width: 100vw
  background: #fff
