@require '../../../../../../styles/base/util'

$componentName = 'Examination'

.{$componentName}
  font-size: 1rem
  height: 64em
  display: flex
  justify-content: center
  align-items: center
  background: $color-peach-light

  &__screen-wrapper
    height: 42em
    width: 60em
    position: relative
