@require '../../../../../../styles/base/util'

$componentName = 'Examination'

$examination-height-base = 64em

.{$componentName}
  height: $examination-height-base
  display: flex
  justify-content: center
  align-items: center
  font-size: 1rem
  position: relative
  background: $color-peach-light

  &__close
    width: 6em
    height: 6em
    position: absolute
    top: 3em
    right: 3em
    cursor: pointer
    z-index: 10

    &:before
      content: ''
      width: 0.4em
      height: 4em
      border-radius: 0.2em
      background: $color-gray
      position: absolute
      top: 1em
      left: 2.8em
      transform: rotate(45deg)

    &:after
      content: ''
      width: 0.4em
      height: 4em
      border-radius: 0.2em
      background: $color-gray
      position: absolute
      top: 1em
      left: 2.8em
      transform: rotate(-45deg)

  $screen-wrapper-height-base = 42em
  $screen-wrapper-height-max = 85vh
  &__screen-wrapper
    height: $screen-wrapper-height-base
    width: 60em
    position: relative

    .{$componentName}.{$componentName}--is-started &
      height: $screen-wrapper-height-max

    .{$componentName}.{$componentName}--is-finished &
      height: $screen-wrapper-height-base

  &--is-started.{$componentName}
    height: 100vh

  &--is-finished.{$componentName}
    height: $examination-height-base


@media $mobile
  .{$componentName}
    height: 50em
    &__close
      font-size: 0.72em
      top: 0
      right: 0
    &__screen-wrapper
      width: 100%
      height: 100%
      .{$componentName}.{$componentName}--is-started &
        height: 100%

@media $tablet
 .{$componentName}
   &__close
     top: 1em
     right: 1em
   &__screen-wrapper
     .{$componentName}.{$componentName}--is-started &
       width: 100%
       height: 100%
