@require '../../../../../../styles/base/util'

$componentName = 'ExaminationReadingScreen'

.{$componentName}
  height: 100%
  overflow-y: scroll
  padding-right: 1em

  &__text-to-read
    font-family: $font-dincyr-regular
    font-size: 2em
    p
      padding-bottom: 0.5em
      text-indent: 1.5em

@media $mobile
  .{$componentName}
    padding: 0 2em
    &__text-to-read
      font-size: 1.8em

@media $tablet
  .{$componentName}
    padding: 0 6em
