/* DinCyr */
@font-face {
  font-family: 'DinCyr-Regular';
  src: url('../fonts/DinCyr-Regular.eot') format('embedded-opentype'),
       url(../fonts/DinCyr-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'DinCyr-Bold';
  src: url('../fonts/DinCyr-Bold.eot') format('embedded-opentype'),
       url('../fonts/DinCyr-Bold.ttf') format('truetype');
  font-weight: bold;
}
