/* UTIL FILE - USEFUL STYLES */

$image(url)
  url('../images/' + url )

$font-roboto-regular = "Roboto-Regular"
$font-roboto-bold = "Roboto-bold"

$no-font-roboto-regular = sans-serif
$no-font-roboto-bold = sans-serif

$font-dincyr-regular = "DinCyr-Regular"
$font-dincyr-bold = "DinCyr-bold"

$no-font-roboto-regular = sans-serif
$no-font-roboto-bold = sans-serif

// COLORS
$color-peach = #dec6a2
$color-marine = #98a2ad
$color-granate = #744f57
$color-dark = #121c26
