/* UTIL FILE - USEFUL STYLES */

$image(url)
  url('../images/' + url )

$font-dincyr-regular = "DinCyr-Regular"
$font-dincyr-bold = "DinCyr-Bold"

$no-font-roboto-regular = sans-serif
$no-font-roboto-bold = sans-serif

// COLORS
$color-peach = #dec6a2
$color-peach-light = #ffeed5
$color-marine = #98a2ad
$color-granate = #744f57
$color-red = #FF2C4C
$color-dark = #121c26
$color-gray = #635f60
